html {
  color: rgba(110, 110, 110, 1);
}
a {
  text-decoration: none;
}
strong {
  font-weight: bold;
}

.container {
  text-align: center;
  width: 100vw;
}
.icons {
  margin-top: 27px;
  height: 7vh;
}
.result {
  font-size: 3rem;
  font-weight: 700;
  color: darkgreen;
  margin: 1.24rem;
}
.result_type {
  font-size: 30px;
  margin-top: 24px;
  font-weight: 420;
}
.result_title {
  font-size: 26px;
  margin-bottom: 30px;
  color: pink;
  font-weight: 600;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.desList {
  margin-top: 22px;
  font-size: 18px;
  text-align: center;
  font-weight: 600;
}

.button_box {
  margin: 0 auto;
  width: 24%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.button {
  font-size: 3rem;
  font-weight: 600;
  margin: 4.4rem 0 4.4rem 0;
  padding: 0.6rem;
  background-color: #ed6174;
  color: #e8e7e6;
  border: none;
  border-radius: 6px;
  text-align: center;
}
